<link rel="stylesheet" href="~/Content/main.css" />

<div class="video-bg">
    <video width="320" height="240" autoplay loop muted>
        <source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<div class="dark-light">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
    </svg>
</div>

<div class="app">
    <div class="header">
        <div>
            <img src="~/images/logo.jpg" class="thumnailsearch" />
        </div> 
        <a href="https://github.com/joomoraes">
            <div>
                <img src="~/images/githublogo.png" class="githubaccessbar" />
            </div>
        </a>
        
        <a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-alves-de-moraes/">
            <div>
                <img src="~/images/linkedin.png" class="linkedinaccessbar" />
            </div>
        </a>
        
        <a href="https://pt.wikipedia.org/wiki/Wikip%C3%A9dia:P%C3%A1gina_principal">
            <div>
                <img src="~/images/wikipedialogo.png" class="wikipediaaccessbar" />
            </div>
        </a> 
        
        <a href="~/Portfolio/Index">
            <div>
                <img src="~/images/yo.png" class="matogrossobar" />
            </div>
        </a>



        <img src="~/images/logo.jpg" class="backgroundIcon" />

        <div class="search-bar">
            <input type="text" placeholder="Buscar Informação" id="searchData">
        </div>

        <div id="searchDataResult">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                        <img src="~/images/brazilflag.png" class="flag" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" onclick="hideOther()">
                        <img src="~/images/usaglag.png" class="flag" />
                    </a>
                </li>
                
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
            </div>

        </div>

    </div>
    <div class="overlay-app" id="searchDataResult"></div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    $(function () {
        $(".menu-link").click(function () {
            $(".menu-link").removeClass("is-active");
            $(this).addClass("is-active");
        });
    });

    $(function () {
        $(".main-header-link").click(function () {
            $(".main-header-link").removeClass("is-active");
            $(this).addClass("is-active");
        });
    });

    const dropdowns = document.querySelectorAll(".dropdown");
    dropdowns.forEach((dropdown) => {
        dropdown.addEventListener("click", (e) => {
            e.stopPropagation();
            dropdowns.forEach((c) => c.classList.remove("is-active"));
            dropdown.classList.add("is-active");
        });
    });

    $(".search-bar input")
        .focus(function () {
            $(".header").addClass("wide");
        })
        .blur(function () {
            $(".header").removeClass("wide");
        });

    $(document).click(function (e) {
        var container = $(".status-button");
        var dd = $(".dropdown");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            dd.removeClass("is-active");
        }
    });

    $(function () {
        $(".dropdown").on("click", function (e) {
            $(".content-wrapper").addClass("overlay");
            e.stopPropagation();
        });
        $(document).on("click", function (e) {
            if ($(e.target).is(".dropdown") === false) {
                $(".content-wrapper").removeClass("overlay");
            }
        });
    });

    $(function () {
        $(".status-button:not(.open)").on("click", function (e) {
            $(".overlay-app").addClass("is-active");
        });
        $(".pop-up .close").click(function () {
            $(".overlay-app").removeClass("is-active");
        });
    });

    $(".status-button:not(.open)").click(function () {
        $(".pop-up").addClass("visible");
    });

    $(".pop-up .close").click(function () {
        $(".pop-up").removeClass("visible");
    });

    const toggleButton = document.querySelector('.dark-light');

    toggleButton.addEventListener('click', () => {
        document.body.classList.toggle('light-mode');
    });

    $('#searchData').keyup(function () {


        let data = $('#searchData').val();


        searchEnglishData(data);

            $.ajax({
                url: '/Home/SearchDataBrazil',
                data:
                {
                    pesquisa: data
                },
                method: 'Post',
                dataType: 'Html',
                cache: false,
                success: function (result) {
                    $('#home').html(result);
                    $('#home').css('opacity', '1');
                }
            });
    });

  

    function searchEnglishData(data)
    {

        $.ajax({
            url: '/Home/SearchData',
            data:
            {
                pesquisa: data
            },
            method: 'Post',
            dataType: 'Html',
            cache: false,
            success: function (result) {
                $('#profile').html(result);
            }
        });
    }

</script>