<div class="cards-wrapper" style="--delay: .6s">
    <div class="cards-header">
        <div class="cards-view">
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path d="M76 240c12.1 0 23.1-4.8 31.2-12.6l44.2 22A44.9 44.9 0 00196 300a45 45 0 0040.6-64.4l60-60a45 45 0 0062.3-54l52.2-39.2a45 45 0 10-18-24l-52.2 39.2a45 45 0 00-65.5 56.8l-60 60a44.7 44.7 0 00-50.6 8.2l-44.2-22A44.9 44.9 0 0076 150a45 45 0 000 90zM436 30a15 15 0 110 30 15 15 0 010-30zm-120 90a15 15 0 110 30 15 15 0 010-30zM196 240a15 15 0 110 30 15 15 0 010-30zM76 180a15 15 0 110 30 15 15 0 010-30zm0 0" />
                <path d="M497 482h-16V165a15 15 0 00-15-15h-60a15 15 0 00-15 15v317h-30V255a15 15 0 00-15-15h-60a15 15 0 00-15 15v227h-30V375a15 15 0 00-15-15h-60a15 15 0 00-15 15v107h-30V315a15 15 0 00-15-15H46a15 15 0 00-15 15v167H15a15 15 0 100 30h482a15 15 0 100-30zm-76-302h30v302h-30zm-120 90h30v212h-30zM181 390h30v92h-30zM61 330h30v152H61zm0 0" />
            </svg>
            Projetos
        </div>
    </div>
    <div class="cards card">
        <div class="repoheader">
            <h3>Gráficos B3</h3>
            &nbsp;
            &nbsp;
            <img src="~/images/aspnetlogo.png" class="aspnetlog" />
        </div>
        <div class="repobody">
            <p>Este projeto, traz gráficos B3 usando a tecnologia do APEXCHARTS, de gráficos autogerados
                usando a linguagem typescript em conjunto com a linguagem de persistência e serialização de dados
                passada no lado servidor (Back-End) da aplicação, para dinamizar a aplicaçao, trazendo respostas
                em tempo de atualização.  <a href="~/B3"> Acessar Projeto </a> </p> &nbsp; - &nbsp;
            &nbsp;-
            &nbsp;
            <img src="~/images/operacoesTela.jpg" />
        </div>
    </div>
    <div class="cards card" style="margin-left: 0px;">
        <div class="repoheader">
            <h3>Buscador WSE</h3>
            &nbsp;
            &nbsp;
            <img src="~/images/aspnetlogo.png" class="aspnetlog" />
        </div>
        <div class="repobody">
            <p>Este projeto, traz um buscador, que faz conexão com API's de diferentes buscadores, para realizar a persistência de dados,
            de acordo com a busca do usuário, usando as API do Wikipedia para informações mais detalhadas e a API do DuckDuckGO para buscas
            mais genéricas, usando a serialização por ObjectOutputStream com um método asincrono no lado servidor (Back-End), reduzindo o tempo
            de interação e busca.
            <a href="~/Home"> Acessar Projeto </a> </p> &nbsp; - &nbsp;
            &nbsp;-
            &nbsp;
            <img src="~/images/logo.jpg" style=" width: 315px; max-height: 150px;"/>
        </div>
    </div>
</div>

